requests
beautifulsoup4
googlesearch-python
pillow
pywhatkit
pygame
pyjokes
pyttsx3
SpeechRecognition
wikipedia
keyboard
playsound
pyautogui
win10toast
psutil
screen-brightness-control
dpkt
pygeoip
opencv-python
numpy
halo
fpdf
selenium
python-dotenv
pydub
maskpass
nest-asyncio
truecallerpy
pyht
pyaudio
pywin32
pygetwindow
Flask
